

.footer {
  /* background: rgb(235, 235, 235); */
  background: rgba(240,240,240,1);
  background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 52%, rgba(235,235,235,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,240,1)), color-stop(52%, rgba(255,255,255,1)), color-stop(100%, rgba(235,235,235,1)));
  background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 52%, rgba(235,235,235,1) 100%);
  background: -o-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 52%, rgba(235,235,235,1) 100%);
  background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 52%, rgba(235,235,235,1) 100%);
  background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 52%, rgba(235,235,235,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ebebeb', GradientType=0 );
  
  padding: 50px 0 0px;
  /* margin-top: 50px; */
  margin-bottom: 0px;
  /* background: rgb(255, 255, 255);
  background-color:  #0e5082; 
  background-image: linear-gradient(to right, #023e75, #063d73, #074e85, #206775); 
  /* background: rgb(255, 255, 255); */
  position: relative;
  overflow: hidden;
  display: block;
  z-index: 1;

}
.footer p {
  font-size: 14px !important;
  color: #2B2E31;
}
.footer a {
  font-size: 14px !important;
  color: #2B2E31;
}

.footer ul {
  margin-left: 0;
  font-size: 14px !important;
  color: rgb(78, 78, 78);
}

.footer .title {
  border-bottom: 1px solid rgb(0, 77, 155);
}

.footer-menu {
  margin: 10px 0;
}

.footer-left p {
  display: inline-block;
  color: rgb(58, 58, 58);
}

.credits {
  display: inline-block;
}

.footer-menu a {
}

.footer-menu ul {
  list-style: none;
  list-style-position: outside;
  float: right;
  display: inline;
  margin: 5px;
}

.footer-menu li {
  line-height: 12px;
  float: left;
  padding: 0 7px;
}

.footer .widget h4 {
  color: rgb(0, 59, 117);
  margin-bottom: 50px !important;
  font-size: 15px;
}

.a{
  color: #ffffff;
}


.copyrights {
  background: #0e5082;
  padding: 8px;
  font-size: 12px;
  color:#46afff;
  
}

.copyrights p {
  font-size: 12px !important;
  margin: auto;
  color: #46afff;
}

.copyrights a {
  color: rgb(194, 210, 255);
}


/*################################################################
	3. MODULES
################################################################# */

.client {
  padding: 10px 5px;
  background: #ffffff;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

.client .tooltip-inner {
  padding: 10px;
}

#volume {
  bottom: 0;
  position: absolute;
  z-index: 10;
  right: 0;
  width: 30px;
  height: 30px;
  line-height: 26px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #2B2E31;
  color: #ffffff;
  cursor: pointer;
}

.custom-box {
  background: #FFFFFF;
  border: 1px solid #DCDBD7;
  margin: 30px 0;
  padding: 30px 20px 35px;
  text-align: center;
}

.custom-box .widget-title {
  margin-top: 10px
}

.custom-box a.readmore {
  padding: 0;
}

.icn-main-container {
  position: relative;
}

.icn-container {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 500px;
  text-align: center;
  margin: 10px 0;
  font-weight: 600;
  font-size: 2.4em;
  line-height: 100px;
  color: #fff;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.icn-container.active, .icn-container:hover {
  background: #2B2E31 !important;
}

.pricing {
  list-style: none;
  padding: 10px 0 20px;
}

.pricing li {
  border-bottom: 1px solid #DCDBD7;
  font-size: 13px;
  font-weight: 100;
  line-height: 34px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 70%;
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition: background-color .4s linear, color .4s linear;
  -o-transition: background-color .4s linear, color .4s linear;
  -ms-transition: background-color .4s linear, color .4s linear;
  transition: background-color .4s linear, color .4s linear;
}

.pricing li:last-child {
  border-bottom: 0px solid #fff;
}

.the-icons li {
  list-style: none
}

#bbsearch.form-inline input[type="text"], #bbsearch.form-inline input[type="password"] {
  width: 50%;
  margin-top: 20px;
}

#bbsearch .form-control {
  height: 55px;
}

#bbsearch .btn {
  padding: 14px 35px;
  font-size: 18px;
  line-height: 1.426;
  border-radius: 0;
  margin-top: 10px;
}

.highlight {
  font-size: 61px;
  font-weight: 700;
  line-height: 1;
  margin: 30px 0 0;
}

.milestone-details {
  font-size: 18px;
  color: #2B2E31;
  font-weight: 400;
  letter-spacing: -0.5px;
  padding: 10px 0 20px;
}

.f-element {
  margin-top: 40px;
  height: auto;
  text-align: center;
}



.dmbox {
  margin: 0;
  border: 0;
  border: 1px solid #EDEDED;
  background-color: #fff;
  padding: 9px 18px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-align: center;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}

.divider {
  margin: 25px 0;
  height: 2px;
  display: block;
  position: relative;
  overflow: hidden;
}

button, .button {
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 0.5em 1em;
  font-size: 1.3rem;
  border-color: #696E74;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  -webkit-appearance: none;
  border: none;
  font-weight: normal !important;
}


button.large, .button.large {
  padding-top: 1.125rem;
  padding-right: 2.25rem;
  padding-bottom: 1.1875rem;
  padding-left: 2.25rem;
  font-size: 1.55rem;
}

button.small, .button.small {
  padding-top: 0.575rem;
  padding-right: 1.75rem;
  padding-bottom: 0.6375rem;
  padding-left: 1.75rem;
  font-size: 1.3125rem;
  background-color: #1a8eab;
}

.footer .a:hover{
  color: #1a8eab !important;
}

footer .button:hover{
  color: #79c9ff !important;
}

.dmbutton:hover, .dmbutton:active, .dmbutton:focus {
  color: #ffffff;
  border-color: #ffffff;
}

.dmbutton {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  color: #ffffff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding-top: 1.025rem;
  padding-right: 2.25rem;
  letter-spacing: 0.85px;
  padding-bottom: 1.0875rem;
  padding-left: 2.25rem;
  font-size: 1.55rem;
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  -webkit-appearance: none;
  font-weight: normal !important;
}

.dmbutton2:hover, .dmbutton2:active, .dmbutton2:focus {
  color: #2B2E31;
  background-color: #ffffff;
  border-color: #2B2E31;
}

.dmbutton2 {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #2B2E31;
  color: #2B2E31;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding-top: 0.75rem;
  padding-right: 1.25rem;
  letter-spacing: 0.25px;
  padding-bottom: 0.95rem;
  padding-left: 1.25rem;
  font-size: 1.22rem;
  cursor: pointer;
  font-weight: 300 !important;
  line-height: normal;
  margin: 0 0 1.25rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  -webkit-appearance: none;
  font-weight: normal !important;
}

.no-touch .dm-icon-effect-1 .dm-icon:hover {
  color: #ffffff;
}

.no-touch .dm-icon-effect-1 .dm-icon.active {}

.dm-icon-medium {
  width: 80px !important;
  height: 80px !important;
  margin: 25px 15px !important;
  background: #3E4246 !important;
}

.services_lists_boxes_icon_none i:hover, .services_lists_boxes_icon i:hover {
  background: #ffffff;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2;
  transition: background 0.2s, color 0.2s;
}

.dm-icon-medium, .dm-icon {
  display: inline-block;
  cursor: pointer;
  margin: 15px;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  background: #2B2E31;
  color: #ffffff;
}

.dm-icon-medium:after, .dm-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.dm-icon-medium:before {
  line-height: 80px !important;
}

.dm-icon-medium:before, .dm-icon:before {
  speak: none;
  line-height: 105px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}

.dm-icon-effect-1 .dm-icon {
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2;
  transition: background 0.2s, color 0.2s;
}

.dm-icon-effect-1 .dm-icon:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(.8);
  -ms-transform: scale(.8);
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(.8);
  opacity: 0;
}

.no-touch .dm-icon-effect-1 .dm-icon:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

[class*=".effect-"] {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}

.effect-fade {
  opacity: 0;
}

.effect-fade.in {
  opacity: 1;
}

.effect-slide-left {
  -webkit-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0);
  opacity: 0;
}

.effect-slide-left.in {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.effect-slide-right {
  -webkit-transform: translate3d(30%, 0, 0);
  transform: translate3d(30%, 0, 0);
  opacity: 0;
}

.effect-slide-right.in {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.effect-slide-top {
  -webkit-transform: translate3d(0, -30%, 0);
  transform: translate3d(0, -30%, 0);
  opacity: 0;
}

.effect-slide-top.in {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.effect-slide-bottom {
  -webkit-transform: translate3d(0, 30%, 0);
  transform: translate3d(0, 30%, 0);
  opacity: 0;
}

.effect-slide-bottom.in {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.effect-pop {
  opacity: 0;
}

.effect-pop.in {
  -webkit-animation: pop 0.6s ease-out 0.5s both;
  -moz-animation: pop 0.6s ease-out 0.5s both;
  -o-animation: pop 0.6s ease-out 0.5s both;
  animation: pop 0.6s ease-out 0.5s both;
  opacity: 1 \9;
}

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pop {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-o-keyframes pop {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.effect-fall {
  opacity: 0;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.effect-fall.in {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.effect-perspective {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}

.effect-helix {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  opacity: 0;
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.effect-helix.in {
  opacity: 1;
  -webkit-transform: rotateY(0);
  -ms-transform: rotateY(0);
  transform: rotateY(0);
}

.tpl1 .sider-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 45px;
  background-color: #fefefe;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 0 3px rgba(0, 0, 0, .4);
}

.tpl1 .sider-right a {
  display: block;
  height: 50px;
  margin-top: 13px;
  background-position: center center;
  background-repeat: no-repeat;
}

.tpl1 .zoom {
  background-image: url("../img/zoom.png");
}

.tpl1 .undo {
  background-image: url("../img/undo.png");
}

.tpl1 .check {
  background-image: url("../img/check.png");
}

.tpl1 .close {
  background-image: url("../img/close.png");
}

.tpl1 a.zoom:hover {
  background-image: url("../img/zoom-hover.png");
}

.tpl1 a.close:hover {
  background-image: url("../img/close-hover.png");
}

.tpl1 a.undo:hover {
  background-image: url("../img/undo-hover.png");
}

.tpl1 a.check:hover {
  background-image: url("../img/check-hover.png");
}

/*template 2*/

.tpl2 .bg {
  background-color: #fff;
  background-color: rgba(255, 255, 255, .5);
  width: 100%;
  height: 100%;
}

.tpl2 .center-bar {
  height: 32px;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  text-align: center;
  width: 100%;
}

.tpl2 .center-bar a {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 3px;
}

.tpl2 .twitter {
  background: url("../img/twitter.png") no-repeat center center;
}

.tpl2 a.twitter:hover {
  background: url("../img/twitter-hover.png") no-repeat center center;
}

.tpl2 .in {
  background: url("../img/in.png") no-repeat center center;
}

.tpl2 a.in:hover {
  background: url("../img/in-hover.png") no-repeat center center;
}

.tpl2 .facebook {
  background: url("../img/facebook.png") no-repeat center center;
}

.tpl2 a.facebook:hover {
  background: url("../img/facebook-hover.png") no-repeat center center;
}

.tpl2 .google {
  background: url("../img/google.png") no-repeat center center;
}

.tpl2 a.google:hover {
  background: url("../img/google-hover.png") no-repeat center center;
}

/*template 3*/

.tpl3 .info-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  background-color: rgba(255, 255, 255, .7);
  box-shadow: 0 0 3px rgba(0, 0, 0, .5);
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #333;
  text-shadow: 1px 1px 0 #fff;
}

.tpl3 .info-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fefefe;
  background-color: rgba(255, 255, 255, .7);
  box-shadow: 0px 0 3px rgba(0, 0, 0, .5);
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #333;
  text-shadow: 1px 1px 0 #fff;
}

.tpl3 .info-fly {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: #fefefe;
  background-color: rgba(255, 255, 255, .7);
  box-shadow: 0 0 3px rgba(0, 0, 0, .5);
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #333;
  text-shadow: 1px 1px 0 #fff;
}

.tpl4 .bg, .tpl4 .content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tpl4 .bg div {
  width: 20%;
  height: 100%;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-color: #aaa;
  background-color: rgba(0, 0, 0, .4);
}

.tpl4 .content .info-title {
  color: #fefefe;
  font-size: 18px;
  margin: 0;
  padding: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  background-color: #999;
  background-color: rgba(0, 0, 0, .3);
}

.tpl4 .content .detail {
  padding: 8px 10px;
  font-size: 14px;
  line-height: 1.5em;
  color: #fdfdfd;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.tpl4 .content .more {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 13px;
  padding: 5px 8px;
  color: #fff;
  background-color: #FFF;
  background: rgba(0, 0, 0, .5);
  border-radius: 5px 0 0 0;
}

.tpl5 .price {
  border-radius: 100%;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  background: #c00;
  line-height: 60px;
  text-align: center;
  padding: 15px;
  display: block;
  position: absolute;
  text-decoration: none;
  bottom: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.tpl5 .buy {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 40px;
  left: 110px;
  background: #c00;
  border-radius: 4px;
  padding: 8px 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.owl-carousel .item a div, .tpl6 .bg {
  height: 100%;
  width: 100%;
  background-color: #2B2E31;
  background-color: rgba(43, 46, 49, .7);
  text-align: center;
}

.he-view .rating i {
  color: #ffffff;
}

.portfolio {
  padding: 0 !important;
  margin: 0 !important;
  display: block;
}

.market-item {
  padding: 0 !important;
  margin: 0 0 30px 0 !important;
  border: 1px solid #f5f5f5;
}

.tpl6 .big {
  color: #FFFFFF;
  font-size: 25px;
  margin: 0;
  padding: 90px 5px 0;
  text-transform: uppercase;
}

.tpl6 .small {
  color: #FFFFFF;
  font-size: 16px;
  margin: 0;
  padding: 40px 5px 0;
  text-transform: uppercase;
}

.tpl6 h3 {
  color: #fff;
  margin: 0;
  padding: 40px 5px 0;
  font-size: 16px;
  text-transform: uppercase;
}

.tpl6 .dmbutton {
  display: inline-block;
  margin: 30px 5px 20px 5px;
  font-size: 13px;
}

.dmtop {
  background-image: url('../img/arrow.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-indent: -99999px;
  position: fixed;
  bottom: -100px;
  right: 25px;
  cursor: pointer;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  overflow: auto;
}

.dmtop:hover {
  background-color: #3E4246;
}

.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 50.5%;
  border: 1px solid #ffffff;
  position: relative;
  overflow: hidden;
}

.js-video.widescreen {
  padding-bottom: 57.25%;
  border: 1px solid #ffffff;
}

.js-video.vimeo {
  padding-top: 0;
  border: 1px solid #ffffff;
}

.google-map {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  min-height: 200px;
}

div.google-map {
  background: rgba(255, 255, 255, 0.5);
  background: #ffffff;
  height: 400px;
  margin: 0 0 0px 0;
  width: 100%;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

/*	################################################################
	4. SIDEBARS AND WIDGETS
################################################################# */

#sidebar {
  padding: 20px 35px;
}

#sidebar li {
  list-style: none;
  margin-left: 10px;
  margin-bottom: 5px;
}

#sidebar .nav-tabs li {
  margin-left: 0;
  margin-bottom: 0;
}

#sidebar a {
  color: #696E74;
}

#sidebar .tabbable .recent_posts li {
  margin-top: 15px;
}

#sidebar .widget {
  padding-top: 0;
  padding-bottom: 35px;
}

#sidebar .recent_posts img, .flickr img {
  border: 1px solid #F0F0F0;
}

.content {
  padding: 20px 20px 60px 20px;
}

.widget {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.widget h3, .widget h4 {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0;
}

#post-tags a, #sidebar .tagcloud a {
  float: left;
  display: block;
  margin-bottom: 4px;
  margin-right: 4px;
  padding: 5px 10px;
  font-size: 12px !important;
  line-height: 1.4em !important;
  color: #fff !important;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s linear;
  transition: all .4s linear;
}

#post-tags a:hover, #sidebar .tagcloud a:hover {
  background: #3E4246 !important;
  color: #fff !important;
  text-decoration: none;
  -webkit-transition: all .01s ease-out;
  -moz-transition: all .01s linear;
  transition: all .01s linear;
}

#sidebar #subscribe .form-control {
  margin-bottom: 10px;
}

.recent_posts>li {
  display: table;
  height: 60px;
  margin-bottom: 10px;
  width: 100%;
}

.recent_posts>li:last-child {
  border-bottom: 0 solid #fff;
}

.section2 .widget h4 {
  color: #af7e7e;
}

.footer ul li, .recent_posts li {
  list-style: none
}

.recent_posts a {
  color: #696E74;
}

.recent_posts>li img {
  max-width: 60px;
}

a.readmore {
  text-transform: none;
  display: block;
  font-family: 'Ruda', sans-serif !important;
  font-size: 12px;
  font-style: italic;
}
a.img{
  border-style: none;
}


.check {
  margin-left: 0;
  padding-left: 0
}

.check li a {
  color: #696E74;
}

@media (max-width: 768px) {
  .notfound {
    background: none;
  }
  .notfound .small-title {
    width: 100%;
  }
  .callus, .search-bar, .post-wrapper-top, .title-area, .social_buttons {
    float: none !important;
    clear: both !important;
    display: block !important;
    text-align: center !important;
  }
  .copyrights {
    font-size: 12px !important;
    text-align: center
  }
  .copyrights p {
    font-size: 10px !important;
    text-align: center
  }
}

@media only screen and (min-width: 40.063em) {
  button, .button {
    display: inline-block;
  }
  .footer-logo{
    width:50px !important;
    height:50px !important;
    margin-top:5% !important;
  }
  
}

/* Contact Form */

#contact {
  padding: 40px 0;
}

.contact-form {}

.contact-form label {
  color: #999;
}

.contact-form input, .contact-form textarea {
  padding: 10px 12px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: auto;
}

.contact-form .form-send {
  text-align: center;
}



.contact-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact-form .loading {
  display: none;
  color: #555;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
}

.contact-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.contact-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

.contact-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

.footer-logo{
  width:auto !important;
  height:120px !important;
  margin-top:5% !important;
}
