.servicetab .tab-content {
  padding: 10px 30px;
}

.services_lists_boxes {
  margin: 0;
}

.servicebox {
  margin: 30px 0;
}

.servicebox h4 {
  display: block;
  width: 100%;
  font-size: 21px;
  letter-spacing: -0.65px;
  font-weight: 500;
}

.services_lists_boxes_icon:after {
  color: #fff;
  z-index: 90;
  font-size: 14px;
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.services_lists_boxes_icon:after {
  content: "\f175";
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin: 10px 0 0;
  width: 110px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.services_lists hr {
  margin: 10px 0 !important;
}

.services_lists hr, .servicetitle hr {
  border: 0 none;
  height: 3px;
  margin: 10px auto;
  width: 80px;
}

#wrapper .section1 {
  box-shadow: none;
  padding-left: 5px;
  padding-right: 5px;
}

.dmbox {
  margin: 0;
  border: 0;
  border: 1px solid #EDEDED;
  background-color: #fff;
  padding: 9px 18px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-align: center;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}







.dmbutton:hover, .dmbutton:active, .dmbutton:focus {
  color: #ffffff;
  background-color: #222222;
  border-color: #ffffff;
}

.dmbutton {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  color: #ffffff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding-top: 1.025rem;
  padding-right: 2.25rem;
  letter-spacing: 0.85px;
  padding-bottom: 1.0875rem;
  padding-left: 2.25rem;
  font-size: 1.55rem;
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  -webkit-appearance: none;
  font-weight: normal !important;
}

.dmbutton2:hover, .dmbutton2:active, .dmbutton2:focus {
  color: #2B2E31;
  background-color: #ffffff;
  border-color: #2B2E31;
}

.dmbutton2 {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #2B2E31;
  color: #2B2E31;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding-top: 0.75rem;
  padding-right: 1.25rem;
  letter-spacing: 0.25px;
  padding-bottom: 0.95rem;
  padding-left: 1.25rem;
  font-size: 1.22rem;
  cursor: pointer;
  font-weight: 300 !important;
  line-height: normal;
  margin: 0 0 1.25rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  -webkit-appearance: none;
  font-weight: normal !important;
}

.no-touch .dm-icon-effect-1 .dm-icon:hover {
  color: #ffffff;
}

.no-touch .dm-icon-effect-1 .dm-icon.active {}

.dm-icon-medium {
  width: 80px !important;
  height: 80px !important;
  margin: 25px 15px !important;
  background: #3E4246 !important;
}

.services_lists_boxes_icon_none i:hover, .services_lists_boxes_icon i:hover {
  background: #ffffff;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2;
  transition: background 0.2s, color 0.2s;
}

.dm-icon-medium, .dm-icon {
  display: inline-block;
  cursor: pointer;
  margin: 15px;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  background: #2B2E31;
  color: #ffffff;
}

.dm-icon-medium:after, .dm-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.dm-icon-medium:before {
  line-height: 80px !important;
}

.dm-icon-medium:before, .dm-icon:before {
  speak: none;
  line-height: 105px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}

.dm-icon-effect-1 .dm-icon {
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2;
  transition: background 0.2s, color 0.2s;
}

.dm-icon-effect-1 .dm-icon:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(.8);
  -ms-transform: scale(.8);
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(.8);
  opacity: 0;
}

.no-touch .dm-icon-effect-1 .dm-icon:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}


#sidebar .tabbable .recent_posts li {
  margin-top: 15px;
}


h2 {
    font-size: 30px;
    color: #006e63;
    font-weight: 400;
    text-transform: none;
    font-family: 'Lato', sans-serif;
    line-height: 1.3em;
    margin-bottom: 14px;
}


.custom-box .widget-title {
  margin-top: 10px
}

.custom-box a.readmore {
  padding: 0;
}


/*  ################################################################
  4. SIDEBARS AND WIDGETS
################################################################# */

#sidebar {
  padding: 20px 35px;
}

#sidebar li {
  list-style: none;
  margin-left: 10px;
  margin-bottom: 5px;
}

#sidebar .nav-tabs li {
  margin-left: 0;
  margin-bottom: 0;
}

#sidebar a {
  color: #696E74;
}

#sidebar .tabbable .recent_posts li {
  margin-top: 15px;
}

#sidebar .widget {
  padding-top: 0;
  padding-bottom: 35px;
}

#sidebar .recent_posts img, .flickr img {
  border: 1px solid #F0F0F0;
}

.content {
  padding: 20px 20px 60px 20px;
}

.widget {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.widget h3, .widget h4 {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0;
}

.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 0 0 0 0;
  background: #eee;
}
.servicetab .tab-content {
  padding: 10px 30px;
}

.tpl1 .check {
  background-image: url("../img/check.png");
}

.check li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  font-size: 16px;
  left: 0;
  padding-right: 5px;
  position: relative;
  top: 2px;
}

.check li {
  list-style: none;
  margin: 5px 0;
}

.check {
  margin-left: 0;
  padding-left: 0
}

.check li a {
  color: #696E74;
}

h1 {
  font-size: 48px;
  background: -webkit-linear-gradient(#0e5082, #1c9ab4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul.a {
  list-style-type: square;
}

effect-fade {
  opacity: 0;
}

.effect-fade.in {
  opacity: 1;
}

.effect-slide-left {
  -webkit-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0);
  opacity: 0;
}

.effect-slide-left.in {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.effect-slide-right {
  -webkit-transform: translate3d(30%, 0, 0);
  transform: translate3d(30%, 0, 0);
  opacity: 0;
}

.effect-slide-right.in {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.effect-slide-top {
  -webkit-transform: translate3d(0, -30%, 0);
  transform: translate3d(0, -30%, 0);
  opacity: 0;
}

.effect-slide-top.in {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.effect-slide-bottom {
  -webkit-transform: translate3d(0, 30%, 0);
  transform: translate3d(0, 30%, 0);
  opacity: 0;
}

.effect-slide-bottom.in {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.effect-pop {
  opacity: 0;
}

.effect-pop.in {
  -webkit-animation: pop 0.6s ease-out 0.5s both;
  -moz-animation: pop 0.6s ease-out 0.5s both;
  -o-animation: pop 0.6s ease-out 0.5s both;
  animation: pop 0.6s ease-out 0.5s both;
  opacity: 1 \9;
}
