.mk-main-navigation .main-navigation-ul li.menu-item ul.sub-menu li.menu-item a.menu-item-link {
	text-transform:none !important;
	font-size:14px !important;
}

.mk-main-navigation .has-mega-menu .megamenu-title {
	font-size:18px;
	line-height:18px;
	text-transform:uppercase;
}

.has-mega-menu .megamenu-title::after {
	display:none;
	margin-top:0;
	height:0;
}