@media only screen and (max-width: 991px) { 

    .carousel-inner h5{
        font-size:40px !important;
    }
}




/* ////////////////////////// Post Slider ////////////////////////////////*/

.post-slider-image{
    background-image:url("../images/mbr-5-1460x973.jpg")  !important;
    background-size: auto 100%;
    width:100%;
    height:250px;
}

/* #post-slider-image:hover{
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
} */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(0, 0, 0);
  }
  .overlay svg{
      width: 100%;
      height:70px;
      margin-top:22%;
  }
  @media only screen and (max-width: 991px) { 
    .overlay svg{
        margin-top:60%;
    }

}
  .fa-search-plus{
        fill: rgb(255, 255, 255) !important;  
  }

 .post-slider-image:hover .overlay {
    opacity: 0.7;
  }
  


#post-slider-content{
    /* background-color: red; */
    width:100%;
    height:100%;
    padding-top:30px;

}

#post-slider-content h4{
font-size:25px;
}
#post-slider{
    /* width:200px; */
    border-style: solid;
    border-width: 0 2px 0 0 ;
    border-color: rgb(206, 206, 206);
    
}
#post-slider div.row{
    /* background-color: rgb(67, 197, 28); */
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    width:100%;
}
#program-title{

    /* font-family: 'Lato', sans-serif!important;
    font-size: 30px !important;
    text-align: center!important;
    padding-bottom: 20px;
    color: rgb(46, 108, 161); */

    text-align: center !important;
    font-weight: 100 !important;
    width: 100%;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    margin: 10px;
    padding: 10px;
    border-color: #1a91ae;
    color: #0f5384;
}

#post-slider-container{
    width:80%;
    margin:auto;
    margin-bottom:-80px;
    /* margin-top:50px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(0, 15, 29);
    background-color: rgb(255, 255, 255);
    padding-left: 50px;
    padding-right: 50px;
}
#post-slider-container p{
    /* font-size:  14px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important; */
    color: #767676;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
@media only screen and (max-width: 991px) { 

    #post-slider-container{
        width:600px;
        margin:auto;
        margin-bottom:-100px;
        background-color:white;
    }
}

@media only screen and (max-width: 650px) { 

    #post-slider-container{
        width:400px;
        margin:auto;
        margin-bottom:-100px;
        background-color:white;
    }
}

.glide__wrapper {
    padding: 15vh 0;
    }
    .glide__track {
    overflow: visible;
    height: 60vh;
    }
    .glide__slide {
    transition: all 500ms ease;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    }
    .glide__slide.active {
        width:500px;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    }
    .glide__slide.pre {
    -webkit-transform: perspective(50em) rotateY(15deg);
            transform: perspective(50em) rotateY(15deg);
    }
    .glide__slide.following {
    -webkit-transform: perspective(50em) rotateY(-15deg);
            transform: perspective(50em) rotateY(-15deg);
    }
    .glide--horizontal .glide__bullets {
    bottom: 25%;
    }
    .glide__bullets>*.active {
        background-color:rgb(9, 147, 165)!important;
    }
    .glide__bullets>* {
        background-color:rgb(177, 177, 177)!important;
        margin-top:-50px;
    }
    .glide__bullets>*:hover {
        background-color:rgb(9, 147, 165)!important;
    }
